.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/efb4855d-e702-43e5-9997-bba0154152e0/42f6dd08-d478-46e4-a4a8-e3a93aa7e085/IN-en-20230417-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  }



.login::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.486);
    mix-blend-mode: multiply;
  }
  .tcs-logo-container {
    background-color: rgba(255, 255, 255, 0.869);
  }
  .tcs-logo {
    position: absolute;
    top: -30px;
    left: 45px;
    width: 250px;
    height: 180px;
    z-index: 2;
  }
  