// .appContainer {
//     background-color: black;

//     h1 {
//         color: red;
//     }

//     p {
//         color: orange;
//     }
// }

.parent-1 {
    background-color: black;
    h1 {
        color: red;
    }
}

.parent2 {
    background-color: black;
    h1 {
        color: red;
    }
}
